<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Dashboard</title>
</head>
<body>
    <main class="main dashboard">
        <h1>Devices</h1>

        <table class="device-table">
            <tr>
              <th>Device id</th>
              <th>OS name</th>
              <th>Os Version</th>
              <th>Location</th>
              <th>Ip</th>
              <th>Last active</th>
              <th>Device status</th>
              <th>View logs</th>
              <th>View Applications</th>
              <th>Remove</th>
            </tr>
            
            <% for (const row of res) {%>
            <tr>
                <td><%= row.device_id%></td>
                <td><%= row.os_name%></td>
                <td><%= row.os_version%></td>
                <td><%= row.location%></td>
                <td><%= row.ip_address%></td>
                <td><%= row.last_active%></td>
                <td><%= row.device_status%></td>
              <td><a href="server/logs/<%= row.device_id %>">Logs</a></td>
              <td><a href="server/apps/<%= row.device_id %>">App list</a></td>
              <td><a href="server/remove/<%= row.device_id %>">Remove</a></td>
            </tr>

            <% };%>

          </table>

          <div class="upload-container">
            <a href="/uploads">Uploads</a>
          </div>

        </main>
</body>
</html>